<!DOCTYPE html>

<html>

<head>

	<title>Projeto Jogar Dados</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>

<body>

	<main>

		<div class="container col-12 col-sm-8 col-md-6 bg-light p-2 text-center">
		
		<h1>Projeto Jogar Dados</h1>

		<div class="container">
			
			<div class="card-deck my-2">
				
				<div class="col-6 p-2">
					
					<div class="card">
						
						<div class="card-header">Pontos Acumulados</div>
						<div class="card-body"><%= pontosAcumulados %></div>

					</div>

				</div>
				<div class="col-6 p-2">

					<div class="card">

						<div class="card-header">Número de Lançamentos</div>
						<div class="card-body"><%= nLancamentos %></div>
					</div>
				</div>

				<div class="col-12 p-2">

					<div class="card">

						<div class="card-header">Lançamento</div>

						<div class="card-body">

							<% for (var i=0; i < lancamento.length; i++) { %>
								<img src="images/dado<%= lancamento[i]%>.png"
								class="p-2 col-3 col-sm-2">
							<% } %>
							<%= lancamento %>
								
						</div>
					</div>
				</div>

				<div class="col-6 p-2">
					<div class="card">
						<div class="card-header">Jogo Lançamento</div>
						<div class="card-body"><%= jogoLancamento %></div>
					</div>
				</div>

				<div class="col-6 p-2">
					<div class="card">
						<div class="card-header">Pontuação de Lançamentos</div>
						<div class="card-body"><%= pontosLancamento %></div>

						<script type="text/javascript">

						</script>

					</div>
				</div>
				
			</div>

		</div>

		<button class="btn btn-success" type="button" id="buttonLancarDados">Lançar Dados</button>

		<button class="btn btn-warning" type="button" id="buttonReiniciarJogo">Reiniciar</button>

		<button class="btn btn-danger" type="button" id="buttonEncerrarJogo">Encerrar</button>

		</div>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= mensagem %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>

        <%if (mensagemStatus == 'azar'){%>

	         <iframe width="420" height="315"
			src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
			</iframe> 

		<%}%>

		<%else (mensagemStatus == 'sorte'){%>



		<%}%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


	</main>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
	
	$(document).ready(function(){

		$('#buttonLancarDados').click(function(){
			location.href = 'lancarDados';
		});

		$('#buttonReiniciarJogo').click(function(){
			location.href = 'reiniciar';
		});

		$('#buttonEncerrarJogo').click(function(){			
			location.href = 'encerrar';
		});

		if ('<%= mensagem %>' !== '')
			$('#myModal').modal('show');

	});

</script>

</html>